body {
    background: linear-gradient(to bottom right, #0f83b2, #ffffff);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    padding-top: 40px;
}

.task-card {
    border-radius: 4px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease; /* Transition effect for hover */
}

.todo {
    background: linear-gradient(to bottom right, #e0e0e0, #ffffff); /* Light grey to white gradient */
}

.test {
    background: linear-gradient(to bottom right, #aed581, #ffffff); /* Bright blue to white gradient */
}

.done {
    background: linear-gradient(to bottom right, #64b5f6, #ffffff); /* Light green to white gradient */
}

.task-card:hover {
    background-color: #f0f0f0; /* Example hover effect */
}
