/* Dashboard.css */

body {
    background-color: #0f83b2; /* Set page background color */
  }
  
  .task-card {
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 4px;
  }
  
  .todo {
    background-color: orange; /* Example color for 'To Do' tasks */
    
  }
  
  .test {
    background-color: yellow; /* Example color for 'Test' tasks */
  }
  
  .done {
    background-color: green; /* Example color for 'Done' tasks */
  }
  